---
title: Welcome!
layout: splash
tagline: "You'll never learn to swim by reading books about the ocean. Let's dive in - together!"
header:
    overlay_color: "#333"
    overlay_filter: "0.5"
    actions:
        - label: "Contact Us"
          url: "/contact/"
        - label: "Get Started"
          url: "/csharp/"
# //TODO: Do something with the features on the home page!
feature_blog:
  - image_path: /assets/images/placeholder.png
    alt: "placeholder image"
    title: "Posts"
    excerpt: "//TODO: Description"
    url: "/posts/"
    btn_label: "View All Posts"
    btn_class: "btn--primary"
feature_projects:
  - image_path: /assets/images/placeholder.png
    alt: "placeholder image"
    title: "Projects"
    excerpt: "//TODO: Description, or delete?"
    url: "/projects/"
    btn_label: "View All Projects"
    btn_class: "btn--primary"
classes: wide
---

Welcome to **Let's Make a Program**, a site all about learning by doing.  Things are still getting fleshed out around here, but
click the "Getting Started" button above to start making some programs!

<!--{% include feature_row id="feature_blog" type="left" %}

{% include feature_row id="feature_projects" type="right" %}-->
